body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.container {
  height: 400px;
  width: 800px;

  box-shadow: 2px 2px 2px 2px #aaaaaa17;
  border: 2px solid #ffffff;
  border-radius: 8px;

  background-color: #fafafa;
  padding-left: 19px;
}
hr {
  width: 752px;
}

.custom-add {
  padding-left: 40px;
  width: 650px;
  height: 40px;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: 40px;
  position: relative;
  padding-top: 10px;
  justify-content: center;
}
.custom-add-input {
  height: 30px;
  width: 550px;
  border: none;
}
#todo-checkbox {
  font-size: xx-large;
  color: #1e90ff;;
}
.col-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1 h1{
  padding-left: .5rem;
}
.label-1 {
  color: #1e90ff;
  text-align: center;
  text-decoration: underline;
}
.fa-calendar-alt {
  color: #1e90ff;
}
#add-task {
  top: 0;
  border-radius: 5px;
  bottom: 0;
  right: 0px;
  z-index: 4;
  border: none;
  top: 2px;
  height: 30px;
  width: 47px;
  cursor: pointer;
  color: white;
  background-color: #1e90ff;
  transform: translateX(2px);
}

h1 {
  text-decoration: underline;
  color: #2586e8;
  text-align: center;
}

/* COUNTER FIELDS*/
.counter {
  float: right;
  margin-top: 10px;
  margin-right: 70px;
  margin-bottom: 26px;
}
#filter {
  text-align: center;
  width: 100px;
  border-radius: 3px;
  padding: 5px;
}
#sort {
  text-align: center;
  width: 100px;
  padding: 5px;
  /* padding-left: 20px; */
  border-radius: 3px;
}
.sort-icon {
  font-size: 17px;
  color: #09cbaa;
  padding: 4px;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: 4px solid #1080ec;
}
input#list-1 {
  float: left;
}


.edit-input{
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}

.last-edit{
  padding: 4px;
}
/* LISTS */

.list .list-li {
  margin-top: 108px;
}
li {
  padding: 10px;
}
ul {
  list-style-type: none;

  margin: 30px;
}
i.fa-solid.fa-trash-can {
  padding-left: 10px;
  color: #e21111c7;
}
i.fa-solid.fa-pencil {

  color: #09cbaa;;
}
i.fa-regular.fa-hourglass-half.icon {
  position: absolute;
  margin-left: 205px;
  color: #ffcc00;
  border: #ffffff;
  position: absolute;
  padding: 10px;
}

.actions{
  display: flex;
}

.list ul{
  position: relative;
  max-height : 150px ;
  overflow-y: scroll;
}
.task-item{
  display: flex;
  justify-content: space-between;
}
.task-item label{
  display: flex;
  flex-grow: 1;
}

.item-label{
  display: flex;
  flex-grow: 1;
  align-items: center;
}


#tas-lists {
  display: flex;
  justify-content: space-between;
}
#list-2 {
  border-radius: 1px solid #1e90ff;
}
/* DATE INPUT WITH ICON */
#date {
  padding: 6px;
  border-radius: 4px;
}

.icon-button {
  background: none;
  color: #000;
  margin-left: 300px;
  padding-right: 0;
  border: none;
}
.trash-icon {
  background: none;
  color: #000;
  padding: 3px;
  margin: 5px;
  border: none;
}
.list .list-li {
  margin-top: 90px;
}

/* ICON -INPUT DESIGN START */

.input-icons i {
  position: absolute;
  margin-left: 204px;
  color: #ffcc00;
  border: #ffffff;
  position: absolute;
  padding: 13px;
}

input.date {
  padding: 10px;
  align-items: center;

  font-family: monospace;
  padding-inline-start: -28px;
  padding-inline-start: 38px;
  cursor: default;

  border: 1px solid #ffcc00;
  border-radius: 5px;
  width: 128px;
  padding: -2px;
  width: -31px;
  margin-left: 195px;
}

/* ICON -INPUT DESIGN END */

/* LABELS */
.label-4 {
  background-color: #ffffff;
  padding: 10px;
  padding-right: 343px;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .container {
    height: 500px;
    width: 376px;
  }

  form {
    width: 283px;

    align-items: center;
    align-content: center;
  }



  .custom-add {
    width: 282px;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-left: 15px;
    position: relative;
    padding-top: 10px;
    justify-content: center;
  }
  .custom-add-input {
    height: 30px;
    width: 193px;
    border: none;
  }
  hr {
    width: 327px;
  }

  #filter {
    text-align: center;
    width: 78px;
    border-radius: 3px;
    padding: 5px;
  }

  #sort {
    text-align: center;
    width: 78px;
    border-radius: 3px;
    padding: 5px;
  }
  /* CONTAINER-LIST */

  .container-list {
    width: 360px;

    margin-top: 100px;
  }

  ul {
    list-style-type: none;
  }


  .list .list-li {
    padding: 0px;
  }

  li {
    padding: 16px;
  }

  #insurance-list {
    padding: 300px;
  }


  .label-4 {
    background-color: #ffffff;
    padding: 13px;
    padding-right: -139px;
    border-radius: 5px;
  }
  /* CONTAINER-LIST END */
  /* INPUT_ICONS DESIGN */

  i.fa-regular.fa-hourglass-half.icon {
    position: absolute;
    margin-left: -152px;
    color: #ffcc00;
    border: #ffffff;
    position: absolute;
    padding: 28px;
  }

  input.date {
    padding: 6px;
    align-items: center;
    font-family: monospace;
    padding-inline-start: -28px;
    padding-inline-start: 26px;
    cursor: default;
    border: 1px solid #ffcc00;
    border-radius: 5px;
    width: 111px;
    padding: -2px;
    width: -31px;
    margin-left: 22px;
  }
}

@media (max-width: 768px) {
  .container {
    height: 498px;
    width: 329px;
    box-shadow: 2px 2px 2px 2px #aaaaaa;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: #fafafa;
    padding-left: 19px;
  }

  #filter {
    text-align: center;
    width: 59px;
    border-radius: 3px;
    padding: 5px;
  }
  #sort {
    text-align: center;
    width: 70px;
    border-radius: 3px;
    padding: 5px;
  }

  i.fa-regular.fa-hourglass-half.icon {
    position: absolute;
    margin-left: -152px;
    color: #ffcc00;
    border: #ffffff;
    position: absolute;
    padding: 28px;
  }
}
